<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>이커머스 메인 페이지</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/display.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
        .header-top {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            /*justify-content: flex-end;*/
            align-items: center;
            padding: 10px 20px;
            background-color: white;
            border-bottom: 1px solid #ccc;
            z-index: 1000; /* 헤더가 다른 요소들 위에 오도록 합니다. */
            justify-content: space-between;
        }
        .header-main {
            text-align: center;
            padding: 20px;
            margin-top: 60px;
        }
        .login-div {
            display: flex;
            align-items: center;
            color: black;
        }
        .user-info {
            margin-right: 20px;
        }
        a {
            text-decoration: none;
            color: white;
        }
        .main-content {
            margin-top: 10px;
        }
        .nav-pills .nav-link.active {
            background-color: #0d6efd;
        }
        .profile-section, .purchase-history, .claim-history, .coin-history, .order-history {
            padding: 20px;
            background-color: #f8f9fa;
            border-radius: 10px;
        }
        .custom-container {
            max-width: 960px; /* 콘텐츠 최대 너비 */
            margin: 0 auto; /* 중앙 정렬 */
            padding: 0 15px; /* 양쪽 여백 설정 */
        }
        .error {
            color: red;
            font-size: 0.9em;
        }

    </style>
</head>
<body>
<div class="custom-container">
<header th:insert="~{fragments/header :: headerFragment}"></header>

<main class="container main-content">
    <p>
        <strong>
            <span th:text="|${memberDto.getMemberName()}|">이승훈</span>
            <span th:text="|[${memberDto.getDepartment().getDepartmentName()} -|">부서</span>
            <span th:text="|${memberDto.getDepartment().getTeamName()}]|">팀</span>
        </strong>
    </p>
    <p><strong>보유 코인: </strong> <span th:text="${memberDto.getMemberCoin()}">1000</span>원</p>
    <div class="row">
        <div class="col-md-3">
            <nav class="nav flex-column nav-pills">
                <a class="nav-link" id="v-pills-coin-tab" data-bs-toggle="pill" href="#v-pills-coin" role="tab" aria-controls="v-pills-coin" aria-selected="true" th:classappend="${activeTab == null || activeTab != 'profile' ? 'active' : ''}">코인 입출금</a>
                <a class="nav-link" id="v-pills-order-tab" data-bs-toggle="pill" href="#v-pills-order" role="tab" aria-controls="v-pills-order" aria-selected="false">구매 내역</a>
                <a class="nav-link" id="v-pills-claim-tab" data-bs-toggle="pill" href="#v-pills-claim" role="tab" aria-controls="v-pills-claim" aria-selected="false">환불 내역</a>
                <a class="nav-link" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="false" th:classappend="${activeTab == 'profile' ? 'active' : ''}">회원 정보</a>
                <a class="nav-link" id="v-pills-cart-tab" th:href="@{/c/cart}" role="tab" aria-selected="false">찜 목록</a>
            </nav>
        </div>
        <div class="col-md-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade" id="v-pills-coin" role="tabpanel" aria-labelledby="v-pills-coin-tab" th:classappend="${activeTab == null || activeTab != 'profile' ? 'show active' : ''}">
                    <section class="coin-history">
                        <h2>코인 입출금</h2>
                        <div>
                            <div class="coin-history-item">
                                <p><strong>날짜:</strong> <span>2024-06-18</span></p>
                                <p><strong>구매 내역:</strong> <span>상품 A, 상품 B</span></p>
                                <p><strong>금액:</strong> <span>30000</span>원</p>
                            </div>
                        </div>
                        <div>
                            <p>구매 내역이 없습니다.</p>
                        </div>
                    </section>
                </div>
                <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" th:classappend="${activeTab == 'profile' ? 'show active' : ''}">
                    <h2>개인정보 수정</h2>
                    <section class="password-change-section">
                        <h3>비밀번호 변경</h3>
                        <!-- Flash Attributes 메시지 표시 -->
                        <div th:if="${message}" class="alert alert-success" th:text="${message}"></div>
                        <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
                        <form th:action="@{/m/change-password}" method="post" onsubmit="return validatePassword()">
                            <div class="mb-3">
                                <label for="currentPassword" class="form-label">현재 비밀번호</label>
                                <input type="password" class="form-control" id="currentPassword" name="currentPassword" required>
                                <span id="currentPasswordError" class="error"></span>
                            </div>
                            <div class="mb-3">
                                <label for="newPassword" class="form-label">새 비밀번호</label>
                                <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                                <span id="newPasswordError" class="error"></span>
                            </div>
                            <div class="mb-3">
                                <label for="confirmPassword" class="form-label">새 비밀번호 확인</label>
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                                <span id="confirmPasswordError" class="error"></span>
                                <span id="passwordMismatchError" class="error"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">비밀번호 변경</button>
                        </form>
                    </section>
                </div>
                <div class="tab-pane fade" id="v-pills-order" role="tabpanel" aria-labelledby="v-pills-order-tab">
                    <section class="order-history">
                        <h2>구매 내역</h2>
                        <div class="table-responsive">
                            <table class="table align-middle">
                                <thead>
                                <tr>
                                    <th scope="col">상품 정보</th>
                                    <th scope="col">진행 상태</th>
                                    <th scope="col">금액</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- 예시로 하나의 구매 내역을 렌더링하는 예시 -->
                                <tr >
                                    <td>2024-06-18</td>
                                    <td>상품 A, 상품 B</td>
                                    <td>30,000원</td>
                                </tr>
                                <!-- 또 다른 구매 내역 추가 예시 -->
                                <tr>
                                    <td>2024-06-20</td>
                                    <td>상품 C, 상품 D, 상품 E</td>
                                    <td>50,000원</td>
                                </tr>
                                <!-- 더 많은 구매 내역들을 추가할 수 있습니다 -->
                                </tbody>
                            </table>
                        </div>
                        <div th:unless="${hasItems}" class="no-records">
                            <p>구매 내역이 없습니다.</p>
                        </div>
                    </section>
                </div>
                <div class="tab-pane fade" id="v-pills-claim" role="tabpanel" aria-labelledby="v-pills-claim-tab">
                    <section class="claim-history">
                        <h2>환불 내역</h2>
                        <div>
                            <div class="claim-history-item">
                                <p><strong>날짜:</strong> <span>2024-06-18</span></p>
                                <p><strong>구매 내역:</strong> <span>상품 A, 상품 B</span></p>
                                <p><strong>금액:</strong> <span>30000</span>원</p>
                            </div>
                        </div>
                        <div>
                            <p>구매 내역이 없습니다.</p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>
</div>

<footer th:insert="~{fragments/footer :: footerFragment}"></footer>

<script th:src="@{/js/member.js}"></script>
<script th:inline="javascript">
    /*[[CDATA[*/
    function validatePassword() {
        var currentPassword = document.getElementById("currentPassword").value;
        var newPassword = document.getElementById("newPassword").value;
        var confirmPassword = document.getElementById("confirmPassword").value;
        var currentPasswordError = document.getElementById("currentPasswordError");
        var newPasswordError = document.getElementById("newPasswordError");
        var confirmPasswordError = document.getElementById("confirmPasswordError");
        var passwordMismatchError = document.getElementById("passwordMismatchError");

        var valid = true;

        if (!currentPassword) {
            currentPasswordError.textContent = "현재 비밀번호를 입력하세요.";
            valid = false;
        } else {
            currentPasswordError.textContent = "";
        }

        if (!newPassword) {
            newPasswordError.textContent = "새 비밀번호를 입력하세요.";
            valid = false;
        } else {
            newPasswordError.textContent = "";
        }

        if (!confirmPassword) {
            confirmPasswordError.textContent = "새 비밀번호 확인을 입력하세요.";
            valid = false;
        } else {
            confirmPasswordError.textContent = "";
        }

        if (currentPassword === newPassword) {
            confirmPasswordError.textContent = "새 비밀번호가 동일합니다.";
            valid = false;
        } else {
            confirmPasswordError.textContent = "";
        }

        if (newPassword !== confirmPassword) {
            passwordMismatchError.textContent = "새 비밀번호와 확인 비밀번호가 일치하지 않습니다.";
            valid = false;
        } else {
            passwordMismatchError.textContent = "";
        }

        return valid;
    }

    /*]]>*/
</script>
</body>
</html>