<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>이커머스 메인 페이지</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/display.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!--    스윗알럿-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/common/js/common.js"></script>
    <style>

        @font-face {
            font-family: 'SpoqaHanSansNeo-Regular';
            src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        .user-info {
            margin-right: 20px;
        }

        a {
            text-decoration: none; /* 밑줄 제거 */
            color: white; /* 글자 색상을 하얀색으로 설정 */
        }
    </style>
</head>
<header th:insert="~{fragments/header :: headerFragment}"></header>
<body>
<div class="floating-image" style="top: 10%; left: 10%; animation-delay: 0s;"></div>
<div class="floating-image" style="top: 20%; left: 80%; animation-delay: 2s;"></div>
<div class="floating-image" style="top: 30%; left: 30%; animation-delay: 4s;"></div>
<div class="floating-image" style="top: 40%; left: 60%; animation-delay: 6s;"></div>
<div class="floating-image" style="top: 50%; left: 20%; animation-delay: 8s;"></div>
<div class="floating-image" style="top: 60%; left: 70%; animation-delay: 10s;"></div>
<div class="floating-image" style="top: 70%; left: 40%; animation-delay: 12s;"></div>
<div class="floating-image" style="top: 80%; left: 50%; animation-delay: 14s;"></div>
<div class="floating-image" style="top: 90%; left: 30%; animation-delay: 16s;"></div>
<div class="floating-image" style="top: 15%; left: 60%; animation-delay: 18s;"></div>
<main>
    <section>
<!--        <h2>추천 상품</h2>-->
        <div class="item-list" id="item-list">
            <div class="item" th:each="item : ${itemList}">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%285%29.jpg" class="d-block w-100" alt="Exotic Fruits"/>
<!--                <img th:src="@{/images/상품이미지.jpeg}" alt="상품 이미지">-->
                <!--                <img th:src="${item.imageUrl}" th:alt="${item.name} Image" alt="상품 이미지">-->
                <div class="item-name" th:text="${item.itemName}"></div>
                <div class="item-desc" th:text="${item.description}">상품 설명</div>
                <div class="item-price" th:text="${item.itemPrice}+'원'"></div>
<!--                <p th:text="'재고: ' + ${item.itemStock} + '개'">수량</p>-->

<!--                <p><button class="btn btn-outline-primary me-2" th:onclick="|placeOrder(${item.itemId})|">바로 구매</button></p>-->
                <div class="btn-wrap">
                    <button class="btn" id="buynow" th:itemId="${item.itemId}" th:itemName="${item.itemName}" th:itemStock="${item.itemStock}" th:itemPrice="${item.itemPrice}" th:onclick="|showPurchaseModal(this.getAttribute('itemId'), this.getAttribute('itemName'), this.getAttribute('itemStock'), this.getAttribute('itemPrice'))|" data-bs-toggle="modal" data-bs-target="#orderModal">바로 구매</button>
                    <button class="btn" id="heart" th:attr="data-item-id=${item.itemId}, data-item-name=${item.itemName}" onclick="addCart(this)">찜하기</button>
                </div>



            </div>
        </div>
        <div id="loading-skeleton" class="skeleton" style="display: none;">
            <div class="skeleton-content">
                <div class="skeleton-box">
                </div>
                <div class="skeleton-box">
                </div>
                <div class="skeleton-box">
                </div>
            </div>
        </div>
    </section>
</main>

<!-- Modal HTML -->
<div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="orderModalLabel">주문 확인</div>
            </div>
            <div class="modal-body">
                <p>선택된 상품: <span id="selectedItem"></span></p>
                <p id="selectedItemId"></p>
                <p>가격: <span id="itemPrice"></span>원</p>
                <p>총 가격: <span id="totalPrice"></span>원</p>
                <p>보유 코인:
                    <span class="user-info" id="mbCoinValue" th:if="${#authorization.expression('isAuthenticated()')}"
                          th:text="|${#authentication.principal.mbCoin}원|"></span>
                </p>
                <p>현재 재고: <span id="itemStock"></span>개</p>
                <p>수량: <span id="itemQuantity"></span>개</p>
                <p><button type="button" class="btn btn-secondary" onclick="countItemQuantityP()">증가</button>
                <button type="button" class="btn btn-secondary" onclick="countItemQuantityM()">감소</button></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" onclick="purchaseItem()">구매</button>
            </div>
        </div>
    </div>
</div>

<footer th:insert="~{fragments/footer :: footerFragment}"></footer>

<script th:src="@{/js/display.js}"></script>
<script th:inline="javascript">
    /*[[CDATA[*/


    /*]]>*/
</script>
</body>
</html>