<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>이커머스 메인 페이지</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/display.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!--    스윗알럿-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/common/js/common.js"></script>
    <style>

        @font-face {
            font-family: 'SpoqaHanSansNeo-Regular';
            src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }


        a {
            text-decoration: none; /* 밑줄 제거 */
            color: white; /* 글자 색상을 하얀색으로 설정 */
        }
    </style>
</head>
<header th:insert="~{fragments/header :: headerFragment}"></header>
<body>
<div class="floating-image" style="top: 10%; left: 10%; animation-delay: 0s;"></div>
<div class="floating-image" style="top: 20%; left: 80%; animation-delay: 2s;"></div>
<div class="floating-image" style="top: 30%; left: 30%; animation-delay: 4s;"></div>
<div class="floating-image" style="top: 40%; left: 60%; animation-delay: 6s;"></div>
<div class="floating-image" style="top: 50%; left: 20%; animation-delay: 8s;"></div>
<div class="floating-image" style="top: 60%; left: 70%; animation-delay: 10s;"></div>
<div class="floating-image" style="top: 70%; left: 40%; animation-delay: 12s;"></div>
<div class="floating-image" style="top: 80%; left: 50%; animation-delay: 14s;"></div>
<div class="floating-image" style="top: 90%; left: 30%; animation-delay: 16s;"></div>
<div class="floating-image" style="top: 15%; left: 60%; animation-delay: 18s;"></div>
<main>
    <div class="section-main">
        <div class="item-list" id="item-list">
            <div class="item" th:each="item : ${itemList}">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%285%29.jpg" class="d-block w-100" alt="Exotic Fruits"/>
                <div class="item-name" th:text="${item.itemName}"></div>
                <div class="item-desc" th:text="${item.description}">상품 설명</div>
                <div class="item-price" th:text="${item.itemPrice}+'원'"></div>

                <div class="btn-wrap">
                    <button class="btn" id="buynow" th:itemId="${item.itemId}" th:itemName="${item.itemName}" th:itemStock="${item.itemStock}" th:itemPrice="${item.itemPrice}" th:onclick="|showPurchaseModal(this.getAttribute('itemId'), this.getAttribute('itemName'), this.getAttribute('itemStock'), this.getAttribute('itemPrice'))|" data-bs-toggle="modal" data-bs-target="#orderModal">바로 구매</button>
                    <button class="btn" id="heart" th:attr="data-item-id=${item.itemId}, data-item-name=${item.itemName}" onclick="addCart(this)">찜하기</button>
                </div>



            </div>
        </div>
        <div id="loading-skeleton" class="skeleton" style="display: none;">
            <div class="skeleton-content">
                <div class="skeleton-box">
                </div>
                <div class="skeleton-box">
                </div>
                <div class="skeleton-box">
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Modal HTML -->
<div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!--todo 모달 닫기 버튼 만들어 주기-->
        <div class="modal-header">
            <div class="modal-title" id="orderModalLabel">주문 확인</div>
        </div>
        <div class="modal-content">
            <div class="modal-body">
                <div class="line-info-wrap">
                    상품명 :
                    <div id="selectedItem"></div>
                    <div id="selectedItemId"></div>
                </div>
                <div class="line-info-wrap">
                    가격 :
                    <div id="itemPrice"></div>
                    원
                </div>
                <!--todo 재고 어떻게 할건지-->
                <div id="itemStock" style="display: none;"></div>
                <div class="line-info-wrap">
                    수량:
                    <div id="itemQuantity"></div>
                    개
                    <a th:href="@{/m/main}" sec:authorize="isAuthenticated()">

                    </a>
                    <!--todo 이미지 싱크 크기좀 ,, ㅋㅋ -->
                    <a href="javascript:void(0);" onclick="countItemQuantityP()">
                        <img src="/images/character/plus.png" alt="수량추가"  class="icon-button">
                    </a>
                    <a href="javascript:void(0);" onclick="countItemQuantityM()">
                        <img src="/images/character/minus.png" alt="수량추가"  class="icon-button">
                    </a>
                </div>
            </div>
            <div class ="modal-content">
                <div class="line-info-wrap">
                    총 가격 :
                    <div id="totalPrice"></div>
                    원
                    / 내 코인 :
                    <div class="user-info" id="mbCoinValue" th:if="${#authorization.expression('isAuthenticated()')}"
                         th:text="|${#authentication.principal.mbCoin}원|"></div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-wrap">
                    <!--modal-body 상의 id 값 이용-->
                    <!--todo 모든 구매 버튼 더블 클릭 방지 -->
                    <button class="btn btn-purchase" onclick="purchaseItem()">구매</button>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:insert="~{fragments/footer :: footerFragment}"></footer>

<script th:src="@{/js/display.js}"></script>
<script th:inline="javascript">
    /*[[CDATA[*/


    /*]]>*/
</script>
</body>
</html>